.jumbotron{
  background-image: asset-url('567.jpg');
  background-size:cover;
  height:315px;
  width:851px;
}

.jumbotron1{
  background-image: asset-url('Categories.jpg');
  background-size:cover;
  height:400px;
}

.jumbotron3{
  background-image: asset-url('2.jpg');
  background-size:cover;
  height:250px;
  width:700px;
}


.jumbotron4{
  background-image: asset-url('234.jpg');
  background-size:cover;
  height:315px;
  width:851px;
}
.body {
    background-image: url("355.jpg");
    background-color: #cccccc;
}